<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Info</title>
</head>
<body style="background-color: cadetblue">
    <div class="main-content">
        <div class="profileDetails">
            <div class="card p-3">
                <h1>Client info</h1>
                <hr>
                {% for rs in client_details %}
                    <div class="row">
                        <img class="img-thumbnail" src="{{ rs.client_image.url }}" alt="image" width="200px" height="200px">
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <table>
                            <tr>
                            <th>
                                Name
                            </th>
                            <td>
                                {{ rs.client_name }}
                            </td>
                            </tr>
                            <tr>
                            <th>
                                Contact number
                            </th>
                            <td>
                                {{ rs.client_contact_no }}
                            </td>
                            </tr>
                            <tr>
                            <th>
                                Area
                            </th>
                            <td>
                                {{ rs.area }}
                            </td>
                            </tr>

                        </table>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>